<div class="bg-success shadow-md w-80 mx-auto my-auto rounded px-8 pt-6 pb-8 mb-4 mt-5 flex flex-col">
    <form action="" [formGroup]="loginForm" (submit)="handleSubmit($event)">
        <div class="mb-4">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                Username
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="username"
                name="username" formControlName="username" type="text" placeholder="Username">

            <div *ngIf="username?.errors?.['required']"
                class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mt-2 rounded relative" role="alert">
                <strong class="font-bold">Please Enter the Username</strong>
            </div>
        </div>
        <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3"
                id="password" type="password" formControlName="password" placeholder="******************">
            <p class="text-red text-xs italic">Please choose a password.</p>

            <div *ngIf="password?.errors?.['required']"
                class="bg-red-100 border border-red-400 text-red-700  mt-2 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Please Enter the Password</strong>
            </div>

        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="submit">
                Sign In
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="#">
                Forgot Password?
            </a>
        </div>
    </form>
</div>