<!-- <router-outlet></router-outlet> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>{{title}}</h1>
    <button (click)="clicked()">title change</button>
    <br /><br />
    <div>
        <button (click)="Increment()">Increment</button>
        {{count}}
        <button (click)="Descrement()">Decrement</button>
    </div>
    <br /><br />
    <input [(ngModel)]="name" #ctrl="ngModel" required><button (click)="addName()">ADD</button>
    <br />
    <span style="color:red">{{this.error}}</span>
    <ul>
        <li *ngFor="let nam of names; let i = index" (click)="editname(i,nam)">{{nam}}</li>
    </ul>
</body>

</html>